{% extends "drone_system/base.html" %}

{% block content %}
    {% if book_status == "Booked" %}
        <div class="alert alert-success" role="alert">Successfully booked drone</div>
    {% elif book_status == "Same" %}
        <div class="alert alert-danger" role="alert">Origin and Destination cannot be the same</div>
    {% elif book_status == "None" %}
        <div class="alert alert-danger" role="alert">No drone available currently. Please try again later.</div>
    {% endif %}

    <nav class="mx-auto card w-25" style=text-align:center;border:none;padding-top:12%>
        <form action="book" method="POST">{% csrf_token %}
            <h3 style="padding-bottom: 10px">Book</h3>
            <div class="form-group">
                <div>
                    <label for="Origin">Origin</label>
                    {{ form.origin }}
                    <br>
                    <label for="Destination">Destination</label>
                    {{ form.destination }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Book</button>
        </form>
    </nav>
{% endblock %}
