{% extends "drone_system/base.html" %}

{% block content %}
    <nav class="mx-auto card w-50" style=border:none;padding-top:10px>
        <img class="card-img-top" src="../../static/drone_system/Help%20Image.jpg" alt="Help Image" style="width: 100%">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h3 style="text-align: center">Help</h3>
                <h5>Dashboard:</h5>
                <p>Once you login, you are redirected to your dashboard. Each user's dashboard is individual
                to that user. Here you can see all of your active and future bookings. You can view, the vehicle's
                type vehicle's number, the vehicle's origin, the vehicle's destination and the scheduled time of
                arrival or departure.</p>
                <h5>Book:</h5>
                <p>The book menu allows you to book journeys. You are presented with a form. Once this
                form is filled, your journey is booked. In case, a vehicle is not available for your journey,
                you are notified of the next availability and are provided with an option to book it. If a vehicle,
                is not going to be available, you are notified of this.</p>
                <h5>Book(Future):</h5>
                <p>The future booking menu allows you to book journeys for the next 24 hours. The form
                is the same as the book menu with an extra time field. The format for the time entered in
                the time field is HH:MM in the 24-hour notation. An example of this is 18:34.</p>
                <h5>Locations:</h5>
                <p>In the locations menu, you can find details of each location we are situated in. You are
                provided with the location name, city name and if intracity travel is available from there.</p>
                <h5>Information:</h5>
                <p>In the information menu, you can view the status of each vehicle. You can view where
                a vehicle currently is and if it already has a job. You can also view it's destination
                and scheduled time of arrival.</p>
                <h5>Help:</h5>
                <p>This is the help menu and takes you here.</p>
                <h5>My Account:</h5>
                <p>This is a dropdown that allows you to access settings and logout.</p>
                <h5>Settings:</h5>
                <p>You can access basic settings from here and change your password and delete your account.</p>
                <p>For any other issues please email <a href="mailto:mriduldhall@mayfieldschool.net">Mridul</a>.</p>
            </div>
        </div>
    </nav>
{% endblock %}
