{% extends 'user_system/base.html' %}

{% load static %}


{% block content %}
    <nav>
        <img src="../../static/user_system/Pop%20Up%20Next.jpg" alt="Home Page Image" width="100%" height="100%" style="padding-bottom: 5px">
    </nav>
    <nav class="mx-auto card w-50" style=text-align:center;border:none>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h3>Information</h3>
            <p>DroneNav is a proof of concept app of a drone booking system based on the future of travel.
            It allows user to book drones for their travel(currently limited to the United Kingdom) for the proof of concept version.
            To emulate other users and other real world processes jobs are automatically produced for drones and speed varies for each journey.
            A drone's speed might be even slower to emulate traffic.</p>
            <p>Thank you for trying out DroneNav.</p>
            <p>Group = ['Mridul', 'Ifaz', 'Harsh', 'Tajveer']</p>
            <p>As part of the ŠŦ£∑ competition.</p>
        </div>
    </nav>
{% endblock %}
