{% extends 'user_system/base.html' %}

{% load static %}

<style>
    body{
        background-image: url("../../static/user_system/Pop Up Next.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>



{% block content %}
    <nav>
        <img src="../../static/user_system/Pop%20Up%20Next.jpg" alt="Home Page Image" width="100%" height="100%">
    </nav>
    <nav style="text-align: center">
        <h3>Information</h3>
        <p>DroneNav is a proof of concept app of a drone booking system based on the future of travel.</p>
        <p>It allows user to book drones for their travel(currently limited to the United Kingdom) for the proof of concept version.</p>
        <p>To emulate other users and other real world processes jobs are automatically produced for drones and speed varies for each journey.</p>
        <p>A drone's speed might be even slower to emulate traffic.</p>
        <p>Thank you for trying out DroneNav.</p>
        <p>Group = ['Mridul', 'Ifaz', 'Harsh', 'Tajveer']</p>
        <p>As part of the ŠŦ£∑ competition.</p>
    </nav>
{% endblock %}
