{% extends 'user_system/base.html' %}

{% block content %}

    <!-- <nav class="container-fullwidth" style="background: url('../../static/user_system/Register Background.jpg');padding:0"></nav>
    <nav class="mx-auto card w-25" style=text-align:center;border:none;padding-top:14%>
        <form action="#">
            <h3>Register</h3>
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </nav> -->

    <!-- <nav class="container-fluid" style="padding: 0">
        <img src="../../static/user_system/Register%20Background.jpg" alt="Background Image" style="width:100%;position:absolute">
    </nav> -->

    <nav class="mx-auto card w-25" style=text-align:center;border:none;padding-top:12%>
        <form action="." method="POST">{% csrf_token %}
            <h3 style="padding-bottom: 10px">Register</h3>
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Repeat Password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
        </form>
        <p style="text-align: left">Already registered? <a href="{% url 'user_system:login' %}">Login</a></p>
    </nav>

{% endblock %}
